.information_box,
.information_box_header {
  position: absolute;
}

/**
 * ----------------------------------------
 * ゲーム画面
 * ----------------------------------------
 */

.movie {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.movie_screen {
  background-color: rebeccapurple;
}

.movie_screen.-as_16_9 {
  aspect-ratio: 16 / 9;
}

.movie_screen.-as_4_3 {
  aspect-ratio: 4 / 3;
}

/* ゲーム画面：並走プレイヤー表記用 */

.movie_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 12px);
  height: 54px;
  padding-right: 14px;
  padding-left: 24px;
}

.movie_footer .player {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 9px;
  font-family: var(--font-jp);
  font-size: 36px;
  font-weight: 900;
  color: var(--color-player-name);
  letter-spacing: 0.01em;
}

.movie_footer .player::after {
  display: block;
  flex-shrink: 0;
  width: 48px;
  height: 34px;
  margin-top: 12px;
  content: '';
  background: url('../images/icon-speaker.png') no-repeat center / contain;
  opacity: 0;
  transform: translateX(-4px);
  transition: var(--duration-timer) ease;
}

.-is_speaker .movie_footer .player::after {
  opacity: 1;
  transform: translateX(0);
}

.movie_footer .player_time {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 14px;
  font-family: var(--font-en);
  font-size: 46px;
  font-variation-settings: 'wdth' 75;
  font-style: normal;
  font-weight: 900;
  font-optical-sizing: auto;
  line-height: 1;
  color: transparent;
  letter-spacing: 0.01em;
  transition: var(--duration-timer) ease;
}

.movie_footer .player_time::before {
  display: block;
  width: 24px;
  height: 30px;
  content: '';
  background: url('../images/icon-flag.png') no-repeat center / contain;
  opacity: 0;
  transition: opacity var(--duration-timer) ease;
}

.-is_stop .movie_footer .player_time {
  color: var(--color-white);
  background-color: var(--color-player-name);
}

.-is_stop .movie_footer .player_time::before {
  opacity: 1;
  animation: bounce-top 0.5s both;
}

.-is_retire .movie_footer .player_time {
  color: var(--color-player-name);
}

/**
 * ----------------------------------------
 * タイマー共通スタイル
 * ----------------------------------------
 */
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time.-vertical {
  gap: 8px;
  width: 370px;
  height: 176px;
}

.time.-horizontal {
  flex-direction: row;
  gap: 90px;
  width: 480px;
  height: 100px;
}

/* 大タイマー */
.time .now {
  font-family: var(--font-en);
  font-size: 83px;
  font-variation-settings: 'wdth' 75;
  font-style: normal;
  font-weight: 900;
  font-optical-sizing: auto;
  line-height: 70px;
  color: var(--color-primary);
  text-align: center;
  letter-spacing: -0.005em;
  -webkit-text-stroke: 12px var(--color-white);
  text-stroke: 12px var(--color-white);
  paint-order: stroke;
  transition:
    -webkit-text-stroke var(--duration-timer) ease,
    color var(--duration-timer) ease;
}

.time.-horizontal .now {
  font-size: 90px;
  letter-spacing: -0.025em;
}

/* 黄色停止時のスタイル */
.time.-is_stop .now {
  color: var(--color-timer-stop);
  -webkit-text-stroke: 12px var(--color-primary);
  text-stroke: 12px var(--color-primary);
  paint-order: stroke;
}

/* 予定タイム */
.time .will {
  color: var(--color-primary);
  -webkit-text-stroke: 7px var(--color-white);
  text-stroke: 7px var(--color-white);
  paint-order: stroke;
}

.time.-horizontal .will {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

/* 予定タイム　ラベル */
.time .will_label {
  font-family: var(--font-jp);
  font-size: 31px;
  font-weight: 900;
  letter-spacing: -0.06em;
}

.time.-horizontal .will_label {
  font-size: 25px;
}

/* 予定タイム　時間 */
.time .will_time {
  position: relative;
  padding-left: 4px;
  font-family: var(--font-en);
  font-size: 41px;
  font-variation-settings: 'wdth' 65;
  font-style: normal;
  font-weight: 900;
  font-optical-sizing: auto;
  color: var(--color-primary);
}

.time.-horizontal .will_time {
  font-size: 47px;
}

/**
 * ----------------------------------------
 * タイトル・ゲーム詳細
 * ----------------------------------------
 */
.title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 937px;
  height: 100%;
  font-family: var(--font-jp);
  font-size: 50px;
  font-weight: 900;
  line-height: 1.19;
  color: var(--color-primary);
  text-align: center;
  letter-spacing: 0.01em;
  word-break: keep-all;
  overflow-wrap: anywhere;
  text-shadow:
    var(--color-white) 5px 0 0,
    var(--color-white) 4.90033px 0.993347px 0,
    var(--color-white) 4.60531px 1.94709px 0,
    var(--color-white) 4.12668px 2.82321px 0,
    var(--color-white) 3.48353px 3.58678px 0,
    var(--color-white) 2.70151px 4.20736px 0,
    var(--color-white) 1.81179px 4.6602px 0,
    var(--color-white) 0.849836px 4.92725px 0,
    var(--color-white) -0.145998px 4.99787px 0,
    var(--color-white) -1.13601px 4.86924px 0,
    var(--color-white) -2.08073px 4.54649px 0,
    var(--color-white) -2.94251px 4.04248px 0,
    var(--color-white) -3.68697px 3.37732px 0,
    var(--color-white) -4.28444px 2.57751px 0,
    var(--color-white) -4.71111px 1.67494px 0,
    var(--color-white) -4.94996px 0.7056px 0,
    var(--color-white) -4.99147px -0.291871px 0,
    var(--color-white) -4.83399px -1.27771px 0,
    var(--color-white) -4.48379px -2.2126px 0,
    var(--color-white) -3.95484px -3.05929px 0,
    var(--color-white) -3.26822px -3.78401px 0,
    var(--color-white) -2.4513px -4.35788px 0,
    var(--color-white) -1.53666px -4.75801px 0,
    var(--color-white) -0.560763px -4.96845px 0,
    var(--color-white) 0.437495px -4.98082px 0,
    var(--color-white) 1.41831px -4.79462px 0,
    var(--color-white) 2.34258px -4.41727px 0,
    var(--color-white) 3.17346px -3.86382px 0,
    var(--color-white) 3.87783px -3.15633px 0,
    var(--color-white) 4.4276px -2.32301px 0,
    var(--color-white) 4.80085px -1.39708px 0,
    var(--color-white) 4.98271px -0.415447px 0;
}

.game_detail {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 424px;
  height: 100%;
  padding-top: 12px;
  font-family: var(--font-jp);
  font-size: 27px;
  font-weight: 900;
  color: var(--color-primary);
  text-align: center;
  text-shadow:
    var(--color-white) 4px 0 0,
    var(--color-white) 3.87565px 0.989616px 0,
    var(--color-white) 3.51033px 1.9177px 0,
    var(--color-white) 2.92676px 2.72656px 0,
    var(--color-white) 2.16121px 3.36588px 0,
    var(--color-white) 1.26129px 3.79594px 0,
    var(--color-white) 0.282949px 3.98998px 0,
    var(--color-white) -0.712984px 3.93594px 0,
    var(--color-white) -1.66459px 3.63719px 0,
    var(--color-white) -2.51269px 3.11229px 0,
    var(--color-white) -3.20457px 2.39389px 0,
    var(--color-white) -3.69721px 1.52664px 0,
    var(--color-white) -3.95997px 0.56448px 0,
    var(--color-white) -3.97652px -0.432781px 0,
    var(--color-white) -3.74583px -1.40313px 0,
    var(--color-white) -3.28224px -2.28625px 0,
    var(--color-white) -2.61457px -3.02721px 0,
    var(--color-white) -1.78435px -3.57996px 0,
    var(--color-white) -0.843183px -3.91012px 0,
    var(--color-white) 0.150409px -3.99717px 0,
    var(--color-white) 1.13465px -3.8357px 0,
    var(--color-white) 2.04834px -3.43574px 0,
    var(--color-white) 2.83468px -2.82216px 0,
    var(--color-white) 3.44477px -2.03312px 0,
    var(--color-white) 3.84068px -1.11766px 0,
    var(--color-white) 3.9978px -0.132717px 0;
}

.category {
  line-height: 1.1;
  letter-spacing: 0.01em;
}

/**
 * ----------------------------------------
 * animation
 * ----------------------------------------
 */
@keyframes bounce-top {
  0% {
    opacity: 1;
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateY(-3px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateY(-2px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
